services:
  zigbee2mqtt:
    image: koenkk/zigbee2mqtt:2.8.0
    container_name: zigbee2mqtt
    restart: unless-stopped
    environment:
    - TZ=${TZ}
    - HOST_OS=Unraid
    - HOST_HOSTNAME=JP-Dell
    - HOST_CONTAINERNAME=zigbee2mqtt
    volumes:
    - ${HOME_ASSISTANT_PATH}/zigbee2mqtt:/app/data
    - /run/udev:/run/udev:ro
    ports:
    - 9442:8080
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.15'
          memory: 256M
    labels:
    - traefik.enable=true
    - traefik.docker.network=iot_net
    - traefik.http.routers.zigbee2mqtt.rule=Host(`zigbee2mqtt.${DOMAIN}`)
    - traefik.http.routers.zigbee2mqtt.entrypoints=web
    - traefik.http.services.zigbee2mqtt.loadbalancer.server.port=8080
    - kuma.zigbee2mqtt.type=http
    - kuma.zigbee2mqtt.url=http://zigbee2mqtt:8080
    - kuma.zigbee2mqtt.name=Zigbee2MQTT
    - kuma.zigbee2mqtt.interval=60
    - kuma.zigbee2mqtt.keyword=Zigbee2MQTT
    - kuma.zigbee2mqtt.tags=iot,smart-home
    networks:
    - iot_net
networks:
  iot_net:
    external: true
