services:
  filebrowser:
    image: filebrowser/filebrowser:v2.60.0
    container_name: FileBrowser
    restart: unless-stopped
    privileged: true
    environment:
    - TZ=America/New_York
    - PUID=${PUID}
    - PGID=${PGID}
    - HOST_OS=Unraid
    - HOST_HOSTNAME=JP-Dell
    - HOST_CONTAINERNAME=FileBrowser
    volumes:
    - /mnt/user/:/srv:rw
    - ${APPDATA_PATH}/filebrowser/:/db/:rw
    deploy:
      resources:
        limits:
          cpus: '0.75'
          memory: 512M
        reservations:
          cpus: '0.15'
          memory: 256M
    ports:
    - 8080:80
    networks:
    - internal_net
    labels:
    - traefik.enable=true
    - traefik.docker.network=internal_net
    - traefik.http.routers.filebrowser.rule=Host(`filebrowser.${DOMAIN}`)
    - traefik.http.routers.filebrowser.entrypoints=web
    - traefik.http.routers.filebrowser.middlewares=crowdsec@file
    - traefik.http.services.filebrowser.loadbalancer.server.port=80
    - kuma.filebrowser.type=http
    - kuma.filebrowser.url=http://FileBrowser:80
    - kuma.filebrowser.name=File Browser
    - kuma.filebrowser.interval=60
    - kuma.filebrowser.keyword=File Browser
    - kuma.filebrowser.tags=utilities,files
    - net.unraid.docker.icon=https://raw.githubusercontent.com/selfhosted/unRAID-CA-templates/master/templates/img/filebrowser-icon.png
    - net.unraid.docker.webui=http://[IP]:[PORT:8080]
    healthcheck:
      test:
      - CMD-SHELL
      - /healthcheck.sh
      interval: 5s
      timeout: 3s
      start_period: 2s
networks:
  internal_net:
    external: true
