services:
  jenkins:
    image: jenkins/jenkins:2.541.1-lts
    container_name: jenkins
    restart: always
    ports:
      - '8080:8080'
      - '50000:50000'
    volumes:
      - ${APPDATA_PATH}/jenkins_home:/var/jenkins_home
    environment:
      - JENKINS_OPTS=--httpPort=8080
      # Use Docker socket proxy instead of direct /var/run/docker.sock mount
      - DOCKER_HOST=tcp://docker-socket-proxy:2375
      - JAVA_OPTS=-Xmx2g -Xms512m
      # These tell Jenkins about the reverse proxy
      - JENKINS_UC=https://updates.jenkins.io
      - JENKINS_UC_INSECURE=false
    
networks:
  docker_proxy_net:
    external: true
      - docker_proxy_net
