services:
  traefik:
    image: traefik:v3.1
    container_name: traefik
    restart: always
    environment:
      - TZ=${TZ}
      # Cloudflare DNS challenge (recommended if using tunnels or no port-forward)
      - CF_DNS_API_TOKEN=${CLOUDFLARE_DNS_API_TOKEN}
      - ACME_EMAIL=${ACME_EMAIL}
      - TRAEFIK_DASHBOARD_AUTH=${TRAEFIK_DASHBOARD_AUTH}
    ports:
      - "8090:80"
      - "8443:443"
    volumes:
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - ./dynamic.yml:/etc/traefik/dynamic.yml:ro
      - ${APPDATA_PATH}/traefik/acme:/etc/traefik/acme
      - ${APPDATA_PATH}/traefik/logs:/var/log/traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.rule=Host(`traefik.${DOMAIN}`)
      - traefik.http.routers.traefik.entrypoints=websecure
      - traefik.http.routers.traefik.tls.certresolver=letsencrypt
      - traefik.http.routers.traefik.service=api@internal
      - traefik.http.routers.traefik.middlewares=traefik-auth@file
    depends_on: []
    networks:
      - public_net
      - docker_proxy_net

networks:
  public_net:
    external: true
  docker_proxy_net:
    external: true
